<!doctype html>
<html lang="en" data-ng-app>
  <head>
    <meta charset="utf-8">
    <title>Redwah</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <header>
      Redwah <a data-ng-click="testAjax()">+</a>
    </header>
    <div data-ng-controller="GridCtrl">
      <table> 
        <thead>
          <tr>
            <th class="small-5 large-4 columns">Name</th>
            <th data-ng-repeat="item in items" data-ng-class="{highest: $index==highestItem}">
              <a data-ng-click="removeItem($index)" class="secondary button tiny round">x</a> {{item.name}}
            </th>
            <th>
              <form data-ng-submit="addItem()">
                <div class="row collapse">
                  <div class="small-2 columns">
                    <button type="submit" class="success button small radius prefix">+</button>
                  </div>
                  <div class="small-10 columns">
                    <input type="text" data-ng-model="itemText" placeholder="Item">
                  </div>
                </div>
              </form>
            </th>
          </tr>
        </thead>
          <tbody>
            <tr data-ng-repeat="quality in qualities">
              <td>
                <a data-ng-click="removeQuality($index)" class="secondary button tiny round">x</a> {{quality}}
              </td>
              <td data-ng-repeat="item in items" class="text-center" data-ng-class="{highest: $index==highestItem}">
                <a data-ng-click="lowerValue($index, $parent.$index)" class="button tiny round">-</a>
                  {{item.qualities[$parent.$index]}}
                <a data-ng-click="increaseValue($index, $parent.$index)" class="button tiny round">+</a>
              </td>
            </tr>
            <tr>
              <td>
                <form data-ng-submit="addQuality()">
                  <div class="row collapse">
                    <div class="small-2 columns">
                      <button class="success button small radius prefix" type="submit">+</button>
                    </div>
                    <div class="small-10 columns">
                      <input type="text" data-ng-model="qualityText" placeholder="Quality">
                    </div>
                  </div>
                </form>
              </td>
            </tr>
            <tr>
              <td>Total</td>
              <td data-ng-repeat="item in items" data-ng-class="{highest: $index==highestItem}" class="text-center">
                <span class="total">{{qualityTotal(item.qualities)}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="scripts/redwah.js"></script>
  </body>
</html>
