<!doctype html>
<html lang="en" data-ng-app>
  <head>
    <meta charset="utf-8">
    <title>Redwah</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <header>
      Redwah
    </header>
    <div data-ng-controller="GridCtrl">
      <table class="small-4 large-2 columns sticky">
        <thead><tr><th>Name</th></tr></thead>
        <tbody>
          <tr data-ng-repeat="quality in qualities"><td>{{quality}}</td></tr>
        </tbody>
      </table>
      <table data-ng-repeat="item in items" class="small-2 large-1 columns">
        <thead><tr><th>{{item.name}}</th></tr></thead>
        <tbody>
          <tr data-ng-repeat="itemQuality in item.qualities"><td class="center">{{itemQuality}}</td></tr>
        </tbody>
      </table>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="scripts/redwah.js"></script>
  </body>
</html>
